<!DOCTYPE html>
<html>
<head>
  <title>Error</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <h1><%= message %></h1>
  <h2><%= error.status %></h2>
  <pre><%= error.stack %></pre>
  
  <div class="nav">
    <a href="/">Home</a>
    <a href="/users">Users</a>
    <a href="/profiles">Profiles</a>
    <a href="/admin">Admin</a>
  </div>
</body>
</html>
