<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>D&D Dating</title>
<body>

<h2>Welcome to <%- websiteName %></h2>
<p>
  <a href="/users">Manage users</a>
</p>


</body>
</html>
